$perspective: 250px;
$size: 30px;
$progressBlue: #008AC9;

html, body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'Sniglet', sans-serif;
  font-size: 16px;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fefcfa;
}
#header {
  position: relative;
  box-shadow: 0px 0px 8px $progressBlue;
  height: 80px;
  white-space: nowrap;
  line-height: 22px;
  background: #fbf0e3;
}
#logo {
  display: inline-block;
  height: 30px;
  width: 60px;
  margin: 20px 10px;
  text-align: center;
  transform-style: preserve-3d;
  -webkit-perspective: $perspective;
}

#siteName {
  display: none;
  font-size: 40px;
  font-family: 'Pacifico', 'Graduate', cursive;
  color: #000000;
  span {
	display: inline-block;
  }
}
#mooo {
  display: inline-block;
  color: #fbf0e3;
  font-size: 20px;
  font-family: 'Pacifico', 'Graduate', cursive;
}
#nucleus {
  text-align: center;
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(40deg) translate3d(0.5, 0.5, 0px);
  height: $size;
  width: $size;
}

@-webkit-keyframes spin {
  0% { transform: rotateY(0deg) }
  100% { transform: rotateY(360deg) }
}

#wheee{
  display: block;
  opacity: 0;
  position: absolute;
  top: 1px;
  left: 66px;
  font-size: 14px;
  font-family: 'Sniglet', sans-serif;
  transform-style: preserve-3d;
  -webkit-perspective: $perspective;
  
  span:first-child { position: relative; top: 0.9em; }
  span { display: inline-block;}
}

.face {
  position: absolute;
  height: inherit;
  width: inherit;
  opacity: 0;
  border: 1px solid black;
  border-left: none;
}
  
.cube {
  .front {
	background: #1B8DDC;
	-webkit-transform: rotateY(0deg) translateZ($size/2);
  }
  .right {
	background: #CD2825;
	-webkit-transform: rotateY(90deg) translateZ($size/2);
  }
  .back {
	background: #0A1031;
	-webkit-transform: rotateY(180deg) translateZ($size/2);
  }
  .left {
	background: #767575;
	-webkit-transform: rotateY(270deg) translateZ($size/2);
  }
}


#loaderBar {
  position: relative;
  bottom: 6px;
  height: 8px;
  width: 99.9%;
  white-space: nowrap;
  opacity: 0;
  span {
	display: inline-block;
  }
  #progressPusher {
	height: 1px;
	width:50%;
	background: $progressBlue;
  }
  #progress {
	height: 1px;
	width: 1px;
	border-radius: 1px;
	background: $progressBlue;
	box-shadow: 0 0 7px 2px $progressBlue;
  }
}

#siteWrap {
  max-width: 1320px;
  margin: 0 auto;
}

$rightColWidth: 320px;
#content {
  display: block;
  line-height: 1.5em;
  text-align: justify;
  margin-left: 250px;
  p {
	margin: 1em 10px 1.2em;
	background: #ffffff;
	display: block;
	padding: 8px 12px;
	border: 3px double #c0c0c0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 10px;
  }

  .right
  {
	float: right;
  }

  .captionedImage {
	margin: 10px;
	text-align: center;
	line-height: 0.8em;
	span { font-size: 12px; font-style: italic; }
  }

  .singleCol
  {
	float: left;
  }
  .mainCol
  {
	width: 100%;
	float: left;
	margin-left: -$rightColWidth;
  }
  .contentInner
  {
	margin-left: $rightColWidth;
  }
  .rightCol {
	float: right;
	width: $rightColWidth;
  }
}



#navStack
{
  float: left;
  width: 210px;
  height: 250px;
  margin:60px 0 0 22px;
  transform-style: preserve-3d;
  -webkit-perspective: $perspective;
  position: relative;
  #navTip {
	position: absolute;
	top: -2.5em;
	left: 30px;
  }
  .navPlatform{
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	margin: 5%;
	transform-style: preserve-3d;
	-webkit-perspective: $perspective;
	
	.navSquare {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  margin: 3px;
	  border: 2px solid #0A1031;
	  background: #767575;
	  cursor: pointer;
	  overflow: hidden;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  
	  svg path{
		fill: #ffffff;
	  }
	}
	.nullSquare {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  margin: 5px;
	  overflow: hidden;
	}

  }
}
.current .navSquare:hover{
  box-shadow: 0 0 5px 2px #CD2825;
  -webkit-transform: translateZ(0px);
}


@media all and (max-width: 639px) {
  #navStack
  {
	float: none;
	margin: 60px auto;
  }
  #content {
	margin-left: 0;
  }
}

@media all and (max-width: 959px) {
  #content
  {
	.mainCol
	{
	  width: 100%;
	  float: none;
	  margin-left: 0;
	}
	.contentInner
	{
	  margin-left: 0;
	}
	.rightCol {
	  float: right;
	  width: 100%;
	}
  }
}



